@font-face {
  font-family: MotivaSans;
  src: url("/Resources/motiva-sans/MotivaSansRegular.woff.ttf");
}
@font-face {
  font-family: MotivaSansBold;
  src: url("/Resources/motiva-sans/MotivaSansBold.woff.ttf");
  font-weight: 700;
}
@font-face {
  font-family: MotivaSansExtraBold;
  src: url("/Resources/motiva-sans/MotivaSansExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: MotivaSansMedium;
  src: url("/Resources/motiva-sans/MotivaSansMedium.woff.ttf");
  font-weight: 500;
}
@font-face {
  font-family: MotivaSansLight;
  src: url("/Resources/motiva-sans/MotivaSansLight.woff.ttf");
  font-weight: 300;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: MotivaSans;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  padding-left: 30px;
  padding-right: 30px;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

p {
  font-size: 1.25rem;
}

.btn {
  border-radius: 4px;
  font-size: 1.25rem;
  font-family: MotivaSansMedium;
  padding: 10px 77px;
  margin-bottom: 20px;
}
.btn:hover {
  transform: scale(1.1);
}

.btn-border {
  border: solid 2px;
}

nav {
  background: linear-gradient(279deg, rgba(244, 155, 146, 0.75) 0%, rgba(199, 68, 148, 0.75) 50%, rgba(132, 73, 154, 0.75) 100%);
}
nav #phoneIcon {
  margin-left: 1rem;
}
nav .navbar-brand {
  margin-right: 0;
  max-width: 50%;
}
nav .navbar-toggler {
  color: #f2f2f2;
  padding-left: 0;
}

.secondNav {
  background: linear-gradient(279deg, rgba(244, 155, 146, 0.8) 0%, rgba(199, 68, 148, 0.8) 50%, rgba(132, 73, 154, 0.8) 100%);
  height: 30px;
}

#prMsg {
  background: linear-gradient(279deg, rgb(244, 155, 146) 0%, rgb(199, 68, 148) 50%, rgb(132, 73, 154) 100%);
  color: #f2f2f2;
}
#prMsg h1 {
  font-size: 2.5rem;
  letter-spacing: -0.8px;
  padding: 4.25rem 1.88rem;
}
#prMsg h1 span {
  display: block;
  font-family: MotivaSansExtraBold;
}
#prMsg .start-btns {
  padding-bottom: 72px;
}
#prMsg .start-btns #btnStartOne {
  background-color: #000000;
  color: #f2f2f2;
}

.product-description {
  margin-bottom: 30px;
}
.product-description_header {
  text-align: center;
  margin-top: 60px;
}
.product-description_header h2 {
  font-size: 32px;
  font-family: MotivaSansExtraBold;
}
.product-description_header h2 span {
  display: block;
  color: #bc4595;
}
.product-description_header p {
  font-size: 20px;
  margin-top: 1.5rem;
  margin-bottom: 1.7rem;
}
.product-description_header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.product-description .pd-btns {
  margin-top: 2.5rem;
  margin-bottom: 60px;
}
.product-description .pd-btns #pd-btn-one {
  background-color: #bc4595;
  color: #f2f2f2;
}
.product-description .pd-btns #pd-btn-two {
  color: #bc4595;
  border-color: #bc4595;
}
.product-description_items .item {
  margin-left: 45px;
  margin-right: 45px;
  overflow: hidden;
}
.product-description_items .item h3 {
  font-size: 20px;
  font-family: MotivaSansBold;
  margin-bottom: 0;
}
@media (min-width: 560px) {
  .product-description_items .item h3 {
    font-size: 28px;
  }
}
.product-description_items .item h3 svg#Icon_kopia_10 {
  width: 30 !important;
}
.product-description_items .item p {
  font-size: 16px;
  letter-spacing: -0.4px;
}
@media (min-width: 560px) {
  .product-description_items .item p {
    font-size: 20px;
  }
}

.calls {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 30px;
}
.calls_header {
  font-family: MotivaSansExtraBold;
  position: relative;
  background-color: #007ad8;
  padding: 48px 30px 62px 48px;
  text-align: right;
}
.calls_header img {
  height: 251px;
  position: absolute;
  left: 0;
  top: -0.75rem;
  background: transparent;
}
.calls_header span {
  display: block;
  color: #f2f2f2;
}
.calls_btn {
  padding-top: 20px;
  padding-bottom: 36px;
  background-color: #d6f0ff;
}
.calls_btn .btn {
  background-color: #007ad8;
  color: #f2f2f2;
  width: 426px;
}
.calls_queue {
  background-color: #d6f0ff;
  position: relative;
}
.calls_queue p {
  line-height: 4rem;
  max-height: 24rem;
  overflow: hidden;
}
.calls_queue p svg {
  margin-right: 0.75rem;
  margin-left: 1rem;
}
.calls_queue .features-p {
  text-align: center;
  color: #007ad8;
  font-family: MotivaSansMedium;
  font-size: 1.25rem;
}
.calls_queue::after {
  content: "";
  position: absolute;
  height: 130px;
  bottom: -50px;
  right: 0;
  left: 0;
  background-color: #d6f0ff;
  transform: skewY(4deg);
  -webkit-transform: skewY(4.5deg);
  -moz-transform: skewY(4.5deg);
  -ms-transform: skewY(4.5deg);
  z-index: -1;
}
.calls_queue::before {
  content: "";
  position: absolute;
  height: 150px;
  bottom: -80px;
  right: 0;
  left: 0;
  background-color: #f2f2f2;
  z-index: -1;
}

.service {
  background-color: #f2f2f2;
  margin-top: 1.5rem;
  padding-bottom: 4.5rem;
}
.service_header {
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}
.service_header h3 {
  font-family: MotivaSansExtraBold;
  margin-bottom: 2rem;
  font-size: 2rem;
}
.service_header h3 span {
  display: block;
  color: #2196f3;
}
.service_header p {
  margin-bottom: 1rem;
  text-align: center;
  letter-spacing: -0.4px;
}
.service_info h3 {
  font-family: MotivaSansExtraBold;
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}
.service_info h3 span {
  color: #007ad8;
}
.service_info p {
  text-align: center;
  letter-spacing: -0.4px;
}
.service .accordion .accordion-item {
  margin-bottom: 1.25rem;
  background-color: white;
  color: #000000;
}
.service .accordion .accordion-item .accordion-button {
  background-color: white;
  color: #000000;
  font-size: 1.75rem;
}
.service .accordion .accordion-item .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.service .accordion .accordion-item .accordion-button svg {
  margin-right: 1rem;
}
.service .accordion .accordion-item .advantages {
  font-size: 19.33px;
  font-family: MotivaSansBold;
}
.service .accordion .accordion-item ul {
  padding-left: 0;
}
.service .accordion .accordion-item ul li {
  list-style: none;
  font-family: MotivaSansLight;
  margin-bottom: 1rem;
}
.service .accordion .accordion-item a {
  color: #007ad8;
  font-family: MotivaSansMedium;
  font-size: 1.25rem;
  text-align: right;
  display: block;
}

.help-info {
  padding-left: 0;
  padding-right: 0;
}
.help-info_header {
  background-color: #0a473d;
  padding-bottom: 2.5rem;
  padding-top: 1.35rem;
  width: 100%;
  position: relative;
}
.help-info_header h2 {
  color: white;
  font-family: MotivaSansExtraBold;
  text-align: center;
  font-size: 2.5rem;
}
.help-info .arrow-down {
  width: 0;
  height: 0;
  border-left: 24px groove transparent;
  border-right: 24px solid transparent;
  border-top: 16px solid #0a473d;
}
.help-info_options {
  background-color: #cef7dc;
  padding-top: 2rem;
  margin-top: -1rem;
}
.help-info_options_item {
  background-color: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1215686275);
  border-radius: 9px;
  max-width: 426px;
  padding: 18px 1.5rem 14px;
  margin-bottom: 56px;
}
.help-info_options_item img {
  height: 110.25px;
}
.help-info_options_item_title {
  font-family: MotivaSansBold;
  letter-spacing: -0.8px;
  margin-bottom: 6px;
  margin-top: 0.5rem;
}
.help-info_options_item_text {
  font-size: 1rem;
  letter-spacing: -0.32px;
  margin-bottom: 20px;
}
.help-info_options_item button {
  background-color: #ff8a65;
  color: white;
  padding: 5px 46px;
}
.help-info_additional {
  background-color: #0a473d;
  padding: 22px 30px 23px;
  color: white;
}
.help-info_additional h3 {
  font-family: MotivaSansExtraBold;
  font-size: 2rem;
}
.help-info_additional p {
  font-size: 18px;
  letter-spacing: -0.36px;
  margin-bottom: 35px;
  margin-top: 4px;
}
.help-info_additional button {
  background-color: #ff8a65;
  color: white;
  padding: 5px 46px;
}

footer {
  background-color: black;
  color: white;
  padding: 48px 62px 32px;
}
footer .footer-logo {
  margin-bottom: 21px;
}
footer .footer-logo img {
  max-width: 245px;
}
footer .pricing {
  margin-bottom: 6px;
}
footer .pricing p {
  font-size: 1rem;
}
footer .country-info {
  letter-spacing: -0.32px;
  font-size: 16px;
  margin-bottom: 12px;
}
footer .copyright {
  color: #8e8e8e;
  letter-spacing: -0.28px;
  font-size: 14px;
}
footer .row {
  width: 446px;
}

.centered-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  word-break: var(--word-break, "none");
  overflow: hidden;
  hyphens: none;
}*//*# sourceMappingURL=main.css.map */