$main-gradient: linear-gradient(
  279deg,
  rgba(244, 155, 146, 1) 0%,
  rgba(199, 68, 148, 1) 50%,
  rgba(132, 73, 154, 1) 100%
);
$main-gradient2: linear-gradient(
  279deg,
  rgba(244, 155, 146, 0.75) 0%,
  rgba(199, 68, 148, 0.75) 50%,
  rgba(132, 73, 154, 0.75) 100%
);
$main-gradient3: linear-gradient(
  279deg,
  rgba(244, 155, 146, 0.8) 0%,
  rgba(199, 68, 148, 0.8) 50%,
  rgba(132, 73, 154, 0.8) 100%
);
$secondary-gradient: linear-gradient(
  279deg,
  #f5b3ad 0%,
  #d472af 50%,
  #a477b3 100%
);
$main-pink: #bc4595;
$main-dark-blue: #232649;
$main-blue: #003083;
$main-light-blue: #007ad8;
$main-lighter-blue: #2196f3;
$main-green: #0a473d;
$main-orange: #ff8a65;

$secondary-olive: #cef7dc;
$secondary-cyan: #cef7dc;
$white-smoke: #f2f2f2;
$black: #000000;
