@font-face {
  font-family: MotivaSans;
  src: url("/Resources/motiva-sans/MotivaSansRegular.woff.ttf");
}

@font-face {
  font-family: MotivaSansBold;
  src: url("/Resources/motiva-sans/MotivaSansBold.woff.ttf");
  font-weight: 700;
}
@font-face {
  font-family: MotivaSansExtraBold;
  src: url("/Resources/motiva-sans/MotivaSansExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: MotivaSansMedium;
  src: url("/Resources/motiva-sans/MotivaSansMedium.woff.ttf");
  font-weight: 500;
}
@font-face {
  font-family: MotivaSansLight;
  src: url("/Resources/motiva-sans/MotivaSansLight.woff.ttf");
  font-weight: 300;
}
